* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black
   
}
.list-nav-div{
    margin-right: 5%;
}
.geral{
    position:absolute;
    z-index: -1;
    min-width: 100vw;
    min-height: 100%;
    height: auto;
    object-fit:fill;
}
.navigation-home-list{
    /*border: 1px solid rebeccapurple;*/
    display: flex;
    margin: 5px;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /*border: 1px solid green;*/
}
.img-nav-groot{
    display: flex;
    margin-left: 80px;
    /*border: 1px solid green;*/
    height: 130px;
    align-items: center;
    margin-top: 50px;

}
.img-nav-div{
    display: flex;
    height: 300px;
    
}
.links-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 150px;
    color: white;
    font-size: 25px;
}
.links-navigation-div{
    font-family: 'Raleway', sans-serif;
    font: weight 400px;
    font-size: 90%;
}
.navigation-home-list{
    display: flex;
}
.list{
    display: flex;
    height: 59px;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
}
.links-navigation-github{
    background-color:rgb(49, 242, 15);
    padding: 7px 18px;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
/*----------COMEÇO DO QUEM EU SOU -----------*/


.main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    /*border: 1px solid black;*/

}
.descricao{
    padding-top: 10px;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    /*border: 1px solid red;*/
    justify-content: center;
    width: 600px;

}
.ops{
   color: rgb(49, 242, 15);
   font-size: 110px;
   font-family: 'Roboto', sans-serif;
   margin-top: 100px;
   /*border: 1px solid red;*/
   margin-left: 250px;
   margin-bottom: 150px;
   text-decoration:rgb(253, 253, 253) 8px underline;
   box-sizing: border-box;
   height: 150px;

   
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-decoration:rgb(43, 255, 0) overline;
    
}
.dev-sou-eu{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size:200px;
 font-family: 'Roboto', sans-serif;
 box-sizing: border-box;
 transform: rotate(-45deg);
 /*border: 1px solid rgb(251, 250, 250);*/
 z-index: -1;
 position: absolute;
 margin-bottom: 150px;
 margin-right: 150px;
 
 
}
.button-me-conheça{
    position:absolute;
    margin-top: 240px;
    align-items: center;
    /*border: 1px solid green;*/
    justify-content: center;
    width: 210px;
    height: 60px;
    border-radius: 10px;
    background-color:rgb(49, 242, 15);
    border: none;
    margin-left: 100px;
}
.edit-o-link-buttom{
    color:rgb(255, 255, 255) ;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 200%;

}

.summary{
    margin-left: 30px;
}
.foto{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;

}

.foto-principal{
    display: flex;
    object-fit: contain;
    align-items: center;
    height: 400px;
    padding: 10px;
    width: 350px;
    
    
}