* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black
   
}
.geral{
    position:absolute;
    z-index: -1;
    min-width: 100vw;
    min-height: 100%;
    height: auto;
    object-fit:fill;
}
.navigation-home-list{
    /*border: 1px solid rebeccapurple;*/
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.img-nav-groot{
    display: flex;
    margin-left: 150px;
}
.img-nav-div{
    display: flex;
    height: 80px;
    
}
.list-nav-div{
    
}

.links-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 150px;
    color: white;
}
.links-navigation-div{
    font-family: 'Raleway', sans-serif;
    font: weight 400px;
    font-size: 17px;
}
.navigation-home-list{
    display: flex;
}
.list{
    display: flex;
    height: 59px;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
}
.links-navigation-github{
    background-color:rgb(92, 21, 213);
    padding: 7px 18px;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
/*----------COMEÇO DO QUEM EU SOU -----------*/


.main{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}
.descricao{
    padding-top: 100px;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}
.quem-sou-eu{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.summary{
    margin-left: 30px
}
.foto{
    margin-right: 120px;
}

.foto-principal{
    display: flex;
    margin-right: 160px;
    margin: 10px;
    
}